@import url("https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Dosis:wght@500&family=Geologica:wght@300&family=Josefin+Sans&family=Merriweather+Sans:ital,wght@0,300;1,300&family=Nunito&family=Poltawski+Nowy&family=Roboto+Mono&family=Roboto+Slab&family=Vina+Sans&family=Ysabeau:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* background: rgb(207, 241, 240); */
    /* background: radial-gradient(
      circle,
      rgba(207, 241, 240, 1) 0%,
      rgba(2, 16, 52, 0.8771498771498771) 100%
    ); */
    background-color: rgb(26, 25, 25);
    font-family: "Merriweather Sans", sans-serif;
  }

  .container {
    display: flex;

    flex-direction: column;
    align-items: center;
  }

  .circular-progress {
    position: relative;
    height: 150px;
    width: 150px;
    /* background-color: #f0ff; */
    border-radius: 50%;
    background: conic-gradient(red, 3.6deg, yellow, 0deg, #ededed);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circular-progress::before {
    content: "";
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #fff;
  }
  .progress-value {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: black;
  }
  .text {
    font-size: 30px;
    font-weight: 500;
    color: gray;
  }
}

@layer utilities {
  .clipped {
    clip-path: polygon(0% 0%, 100% 0%, 60% 100%, 0% 100%);
  }
  .multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
  .tooltip {
    /* position: relative; */
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: bisque;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: static;
    /* z-index: 1; */
    /* bottom: 100%; */
    /* left: 50%; */
    /* margin-left: -60px; */

    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    /* position: absolute; */
    /* top: 100%; */
    /* left: 50%; */
    /* margin-left: -5px; */
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .skillsanimate {
    position: relative;
    /* animation: skills 1s ease-in 0.7s 1 normal; */
    /* animation: name duration timing-function delay iteration-count direction
      /* fill-mode; */
  }
  /* @keyframes skills {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  } */
  /* .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  } */
}
